#app > div.theme-container.no-sidebar > div > div:nth-child(3) > div:nth-child(5) > div.footer-wrapper.footer > span:nth-child(1){
    display: none
}

#app > div.theme-container.no-sidebar > div > div:nth-child(3) > div:nth-child(5) > div.home-blog > div.home-blog-wrapper > div.info-wrapper{
    overflow: inherit;
}